
{% extends 'base.html' %}
{% block content %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="center">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h2>gif with audio</h2>
    <center><img src="https://cdn.dribbble.com/users/25514/screenshots/3997009/media/23dcb526ed514472dde3065e2ee9ddf9.gif" alt="this slowpoke moves"  width="1000" alt="404 image" class="centerImage"/></center>
    


    <br>

    
    <a href="{% url 'RestaurantApp:gif-gif1' %}" class = "btn btn-md btn-danger">Exit</a>
</body>
</html>
{% endblock %}

















