{% extends 'base.html' %}
{% block content %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="center">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    
    <h2>exit gif</h2>
    <center><img src="https://1.bp.blogspot.com/-wO_qwehymi8/W_PhGFAzH9I/AAAAAAAAEP8/eulfzXVcy0c8FbKzayPQ2yviIzcu9cZwQCLcBGAs/s1600/robot.gif" alt="this slowpoke moves"  width="1000" alt="404 image" class="centerImage"/></center>
    


    <br>

   
    <a href="{% url 'BotsApp:bots-list' %}" class = "btn btn-md btn-danger">confirm</a>
</body>
</html>
{% endblock %}